* {
	margin: 0;
	box-sizing: border-box;
}

ul {
	padding: 0;
}

div {
	border: 1px solid yellow;
}

li {
	list-style-type: none;
}

.container {
	display: grid;
	grid-template-columns: 1fr 4fr;
	height: 100vh;
}

.sidebar {
	display: grid;
	grid-template-rows: 1fr 3fr 3fr;
	grid-area: 1 / 1 / span 3 / span 1;
	color: white;
	background-color: blue;
}

.main {
	display: grid;
	grid-template-rows: 1fr 3fr;
	grid-area: 1 / 2 / span 3 / span 1;
	background-color: orchid;
}

.header {
	display: grid;
	grid-template-rows: 2fr 3fr;
}

.info {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.minisidebar {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
}

.sideheader img {
	height: 3rem;
	width: auto;
}

li img {
	height: 2rem;
	width: auto;
}